.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 96px;
}
.features__title {
  text-align: left !important;
}
.features__block {
  max-width: 430px;
}
.features__description {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin: 20px 0;
}
.features__list {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.features__list:last-child {
  margin-bottom: 0;
}
.features__text {
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  margin-left: 10px;
}
