.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 96px;
  padding: 94px 0 130px 0;
}

.features__title {
  text-align: left !important;
}

.features__block {
  max-width: 430px;
}

.features__description {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin: 20px 0;
}

.features__list {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.features__list:last-child {
  margin-bottom: 0;
}

.features__text {
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  margin-left: 10px;
}

@media (max-width: 1024px) {

  .features__block {
    max-width: 330px;
  }
}

@media (max-width: 812px) {
  .features {
    max-width: 724px;
  }

  .features__illustration-2 {
    max-width: 50%;
  }
}

@media (max-width: 667px) {
  .features {
    flex-direction: column-reverse;
    align-items: center;
  }

  .features__block {
    margin-bottom: 30px;
  }
}

