.footer {
  background-color: #f8f8f8;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  padding: 100px 0;
}
.footer__header {
  margin-top: 10px;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  max-width: 140px;
  margin: 30px 0;
}

.footer__description {
  max-width: 340px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.footer__law {
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.footer__header {
  display: flex;
  justify-content: space-between;
  max-width: 570px;
  width: 100%;
}

.footer__subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #0b132a;
  margin-bottom: 20px;
}

.footer__list {
  margin-bottom: 10px;
}

.footer__list:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

@media (max-width: 1024px) {
  .footer__wrapper {
    max-width: 824px;
  }
}

@media (max-width: 1024px) {
  .footer__wrapper {
    max-width: 724px;
    margin-top: 240px;
  }

  .footer__description {
    max-width: 220px;
  }

  .footer__header {
    max-width: 440px;
  }
}

@media (max-width: 667px) {
  .footer__wrapper {
    max-width: 600px;
    margin-top: 350px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__about {
    margin-top: 100px;
  }
}

@media (max-width: 414px) {
  .footer__header {
    max-width: 320px;
    flex-direction: column;
    text-align: center;
  }

  .footer__subtitle {
    margin-top: 50px;
  }

  .footer__wrapper {
    max-width: 320px;
    margin-top: 400px;
  }
}
