.global-net__lassmap {
  margin: 150px auto 0 auto;
}

.global-net__title {
  max-width: 370px;
  margin: 0 auto;
}
.global-net__subtitle {
  max-width: 555px;
  margin: 0 auto;
}

.global-net__sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

@media (max-width: 414px) {
  .global-net__sponsors {
    max-width: 320px;
    flex-direction: column;

    margin: 0 auto;
  }

  .global-net__lassmap {
    margin-bottom: 50px;
  }
}
