.global-net {
  margin: 0 auto;
  max-width: 1140px;
}

.global-net__lassmap {
  margin: 150px auto 0 auto;
}

.global-net__title {
  max-width: 555px;
  margin: 0 auto;
}
.global-net__subtitle {
  max-width: 555px;
  margin: 0 auto;
}
