.main {
  position: relative;
}

.main-screen {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-screen_wrap {
  width: 555px;
  max-width: 100%;
  margin-left: 6%;
}

.main-screen__title {
  margin-top: 130px;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
}

.main-screen__text {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.main-screen__button {
  background-color: #f53838;
  color: #ffffff;
  padding: 18px;
  width: 250px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 50px;
  position: relative;
}

.main-screen__button::after {
  position: absolute;
  content: " ";
  width: 211px;
  height: 60px;
  left: 18px;
  top: 25px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: 10px;
}

.main-screen__illustration {
  margin-top: 89px;
  margin-right: 2%;
}

@media (max-width: 1024px) {
  .main-screen {
    flex-direction: column;
  }

  .main-screen_wrap {
    text-align: center;
    margin: 0 auto;
  }

  .main-screen__illustration {
    margin: 89px auto 0 auto;
  }
}

@media (max-width: 414px) {
  .main-screen__title {
    margin-top: 70px;
    font-weight: 500;
    font-size: 32px;
  }

  .main-screen__text {
    max-width: 320px;
    margin: 0 auto;
  }
}
