@import url("./header.css");
@import url("./main-screen.css");
@import url("./advantages.css");
@import url("./features.css");
@import url("./choose-plan.css");
@import url("./global-net.css");
@import url("./trusted-customer.css");
@import url("./subscribe.css");
@import url("./footer.css");

@font-face {
  font-family: "Rubik", sans-serif;
  src: url(./fonts/Rubik-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url(./fonts/Rubik-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Rubik", "Arial", sans-serif;
  src: url(./fonts/Rubik-Bold.ttf);
  font-weight: 600;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  font: inherit;
}

b {
  display: block;
  font: inherit;
}

i {
  font-style: normal;
}

a,
button {
  transition: all 0.1s ease-in;
  text-decoration: none;
}

a[href^="tel"] {
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  text-shadow: none;
  border: 0;
}

button:hover {
  cursor: pointer;
}

* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  margin-top: 20px;
}

blockquote {
  margin: 0;
}

.main__linbckgnd {
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}

@media (max-width: 1024px) {
  .title {
    font-size: 30px;
  }

}

@media (max-width: 414px) {
  .title {
    font-size: 26px;
  }

}