.glide__slide {
  height: auto !important;
}

.trusted-customer {
  margin-bottom: 180px;
  margin: 0 auto;
  max-width: 1140px;
  padding-top: 82px;
}

.trusted-customer__title {
  margin: 0 auto;
  max-width: 455px;
}

.trusted-customer__subtitle {
  margin: 0 auto;
  max-width: 555px;
}

.trusted-customer__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 100%;
  align-items: stretch !important;
}

.trusted-customer__slider-wrap {
  width: 1300px;
}

.trusted-customer__item {
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  max-height: 230px;
  min-width: 400px !important;
}

.trusted-customer__item:last-child {
  margin-right: 0;
}

.trusted-customer__datauser {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.trusted-customer__rating {
  display: flex;
  position: absolute;
  top: 48px;
  right: 30px;
}

.trusted-customer__username {
  margin-left: 20px;
}

.trusted-customer__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.trusted-customer__born {
  font-size: 14px;
  color: #4f5665;
}

.trusted-customer__text {
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}

.trusted-customer__number {
  font-size: 16px;
  line-height: 30px;
  margin-right: 10px;
}

.trusted-customer__button {
  border: 2px solid #f53838;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: #ffffff;
  margin-left: 20px;
}

.button--active {
  background-color: #f53838;
}

.trusted-customer__control {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.trusted-customer__circle {
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .trusted-customer {
    max-width: 824px;
  }

  .trusted-customer__slider {
    max-width: 824px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .trusted-customer {
    max-width: 700px;
  }

  .trusted-customer__slider {
    max-width: 700px;
    width: 100%;
  }

  .trusted-customer__item {
    max-width: 340px;
  }
}

@media (max-width: 667px) {
  .trusted-customer {
    max-width: 600px;
  }
}

@media (max-width: 414px) {
  .trusted-customer {
    max-width: 320px;
    padding-top: 100px;
  }
}
